body {
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    background-color: #f2f2f2;
  }

  .battery-box {
    width: 300px;
    height: 50px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
    border: 2px solid #00b9f5;
  }

  .battery-level {
    height: 100%;
    background-color: #00b9f5;
    width: 0%;
    transition: width 0.5s ease;
  }

  .battery-trip {
    width: 10px;
    height: 30px;
    background-color: #00b9f5;
    position: absolute;
    top: 10px;
    right: -14px;
    border-radius: 2px;
  }

  .battery-info {
    font-size: 20px;
    color: #333;
  }

  .battery-info i {
    color: green;
    margin-left: 8px;
  }